<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Statuspage</title>
        <link rel="stylesheet" href="/assets/statuspage.css?v=0.2" />
        <link rel="shortcut icon" href="/assets/favicon.png">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        {% include "partials/extrahead.html" %}
    </head>
    <body>
        <main>
        {% block content %}{% endblock %}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
