{%extends "base.html"%}
{% block title %}Status{% endblock %}
{% block content %}

<h1>Status</h1>

{% for site in sites: %}

<div class="site">
    <h2>{{ site }}</h2>

    <div class="row">
        {% if site in last_results: %}
        <div class="probe-result probe-result-{{ last_results[site].result|lower }}" title="{{ last_results[site].time[:19].replace("T", " ") }}">
            {{ last_results[site].time[11:19] }}

            {{ last_results[site].result }}

            {{ last_results[site].status_code }}
            {{ "{:.3f}s".format(last_results[site].duration) }}


        </div>

        <div class="previous-results">
            {% for prev_result in previous_results[site]: %}
            <div class="prev-result probe-result-{{ prev_result.result|lower }}" title="{{ prev_result.time[:19].replace("T", " ") }} {{ prev_result.result }} {{ prev_result.status_code }} {{ "{:.3f}s".format(prev_result.duration) }}">
                <div class="duration-marker" style="height:{{ prev_result.duration * 100.0 / (max_durations[site]+0.0001) }}%"></div>
            </div>
            {% endfor %}
        </div>

        {% else: %}
        <div class="probe-result probe-result-unknown">
            No probe results yet.
        </div>

        {% endif %}
    </div>

</div>


{% endfor %}

{% endblock %}
