body {
    font: 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

main {
    width: 700px;
    margin: 0 auto;
}


h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
}

footer {
    color: hsl(0, 0%, 48%);
    text-align: center;
    margin: 1rem 0;
}
footer a {
    color: hsl(0, 0%, 48%);
}

.row {
    display: flex;
}

.probe-result {
    padding: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
}

.probe-result-ok {
    background: hsl(141, 71%, 48%);
}

.probe-result-warning {
    background: hsl(48, 100%, 67%);
}

.probe-result-error {
    background: hsl(348, 100%, 61%);
}

.probe-result-unknown {
    background: hsl(0, 0%, 48%);
}

.previous-results {
    display: flex;
    min-height: 1rem;
    justify-content: space-between;
    flex-grow: 1;
}
.previous-results .prev-result {
    width: 2px;
    margin-right: 2px;
    flex-grow: 1;
    position: relative;
}
.previous-results .prev-result:last-child {
    margin-right: 0;
}
.previous-results .duration-marker {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid black;
    width: 100%;
    opacity: 0.2;
    max-height: 100%;
    box-sizing: border-box;
    background: #00000066;
}


@media screen and (max-width: 1000px) {
    main {
        width: auto;
        margin: 0 0.5rem;
    }
    .row {
        display: block;
    }
    .probe-result {
        margin: 0 0 2px 0;
    }
}
